<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pixel</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #root {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="root">
        {% if current_user.is_authenticated %}
            <h1>Hi {{ current_user.username }}!</h1>
        {% else %}
            <h1>Server running...</h1>
        {% endif %}
    </div>
</body>
</html>
